body {
    max-width: 600px;
    margin: auto;
}

.main-title {
    margin-inline: 11.2vw;
    color: rgba(36, 7, 7, 0.685);
    font-family: Arial, Helvetica, sans-serif;
}

.alert {
    color: white;
    padding: 10px;
    font-size: 1.4em;
    position: absolute;
    top: 0;
    right: 0;
    background-color: grey;
}

.alert-success {
    background-color: rgb(15, 122, 15);
}

.alert-danger {
    background-color: rgb(122, 11, 11);
}

.done {
    text-decoration: line-through
}

.bar {
    margin-inline-start: 13.4em;
    width: 200px;
    height: 30px;
    border: 1px solid gray;
    position: relative;
}

.progress {
    height: 100%;
    background-color: green;
}

.p-text {
    justify-self: center;
    align-self: center;
    position: absolute;
    bottom: -35%;
    right: 40%;
}

section {
    display: inline-block;
}

input[name="min-stars"] {
    width: 75px;
}

input[name="max-stars"] {
    width: 75px;
}

.link {
    text-decoration: none;
    color: green;
    border: 1px solid lightblue;
    padding: 2px;
    font-size: 16.8px;
}

.home-link {
    color: red;
}

button {
    cursor: pointer;
}